body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(90deg, #f5f5dc, #cac6c6);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    width: 80%; /* Adjust this as needed */
    height: 70%; /* Adjust this as needed */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.image-container {
    flex: 1;
    display: flex;
    align-items: flex-end; /* Aligns the content to the bottom */
    justify-content: center; /* Centers the content horizontally */
    background-image: url('../ASSETS/Landing.png'); /* Add your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 150%; /* Ensure it fills the height */
    padding-bottom: 20px; /* Adjust as needed to create space */
}
.logo{
    margin-top: -50px; /* Adjust the space between the form and the logo */
    width: 250px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Center the logo */
    margin-left: auto;
    margin-right: auto;
}

.login-container {
    flex: 0.45;
    background-color: #ffffff;
    padding: 30px;
    text-align: center;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}

.input-group .icon {
    color: #cac6c6;
    margin-right: 10px;
    font-size: 18px;
}

.input-group input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 14px;
    background: none;
}

input[type="submit"] {
    background: linear-gradient(90deg, #b9b8b8, #969696);
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #b9b8b8;
}

p {
    margin-top: 10px;
    font-size: 14px;
    color: linear-gradient(90deg, #b9b8b8, #b9b8b8);
}

p a {
    color: linear-gradient(90deg, #b9b8b8, #b9b8b8);
    text-decoration: none;
    font-weight: bold;
}

p a:hover {
    text-decoration: underline;
}
